/* Allow mouse to select content */
pre, pre > code, #content_views {
    user-select: unset!important;
}

/* Hide the "登录复制" button */
main div.blog-content-box pre .hljs-button.active {
    display: none!important;
}

/* Code auto-expansion */
main div.blog-content-box pre.set-code-hide {
    height: unset!important;
}

main div.blog-content-box pre {
    max-height: unset!important;
}

.hide-preCode-box {
    display: none;
}

/* Remove the restriction of "关注博主即可阅读全文" */
#article_content {
    height: unset!important;
    overflow: unset!important;
}

div.hide-article-box {
    display: none;
}

/* Remove the background image */
.ai-abstract {
    background-image: unset!important;
    border: 1px wheat solid;
}

aside div.aside-box h3.aside-title {
    background: unset!important;
}

.passport-login-container,
.rightside-fixed-hide,
.passport-login-tip-container,
.tool-active-list,
#recommendAdBox {
    display: none!important;
}

div:has(.csdn-side-toolbar) {
    display: none!important;
}

body {
    background: unset!important;
}
